* {
    margin: 0;
    padding: 0;

    /* max-width: 1600px; */
}

body {
    font-family: 'Inter', sans-serif;
}

.header-content {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
}

.header-content .nav-logo img {
    width: 139px;
    height: 60px;
}

.header-content ul {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: none;
}

.header-content ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    gap: 32px;
    opacity: 0.9;
}

.header-content ul li a:hover {
    background-color: rgb(167, 197, 153);
    padding: 4px;
    border-radius: 4px;
}

.header-content .btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.header-content .btn:hover {
    background-color: #367b4f;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 120px;
    width: 100%;
    max-width: 2024px;
}

.hero-section .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1360px;
    justify-content: center;
    margin: auto;
}

.hero-section .hero-text h3 {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 6px;
    font-weight: 500;
    color: #469165;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 24px;
}

.hero-section .hero-text h1 {
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
    opacity: 90%;
    width: 770px;
    height: 168px;
}

.hero-section .hero-text h1 span {
    color: #30B868;
}

.hero .hero-section .btn {
    display: flex;
    margin-top: 32px;
    width: 465px;
}

.hero .hero-section .btn .btn-1 {
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #469165;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
}

.hero .hero-section .btn .btn-2 {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    stroke: #FFFFFF;
    color: #FFFFFF;
    margin-left: 16px;
    font-weight: 600;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
}

.hero .hero-section .btn .btn-1:hover {
    background-color: green;
    transition-duration: 1s;
}

.hero .hero-section .btn .btn-2:hover {
    background-color: green;
    transition-duration: 1s;
    color: #000000;
}

.hero .hero-section .hero-text p {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    width: 63%;
    margin: auto;
    text-align: center;
}

.section-1 {
    width: 71%;
    margin: auto;
    margin-top: 130px;
    text-align: center;
}

.section-1 .text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.section-1 .text p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

.section-1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    gap: 24px;
    text-align: center;
}

.section-1 .container .card {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 322px;
    height: 300px;
}

.section-1 .container .card:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition-duration: 0.3s;
}

.section-1 .container .card .icon-background {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.section-1 .container .card img {
    margin-bottom: auto;
    margin: auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;

}

.section-1 .container .card h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.section-1 .container .card p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}